@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #3498db;
}

img {
	height: 25vh;
	width: 25vw;
}

.wrapper {
	/* height: 260px; */
	max-width: 410px;
	background: #fff;
	border-radius: 7px;
	padding: 16px 25px 0;
	transition: height 0.2s ease;
}

.wrapper .active {
	height: 630px;
}

.header p {
	color: #474747;
	margin-top: 5px;
}

.wrapper .form {
	margin: 20px 0 30px;
}

.form :where(input, button) {
	width: 100%;
	height: 55px;
	border-radius: 5px;
	border: none;
	outline: none;
}
.form input {
	font-size: 18px;
	border: 1px solid #999;
	padding: 0 17px;
}

.form button {
	background: #3498db;
	color: #fff;
	margin-top: 20px;
}
.wrapper .qr-code {
	padding: 33px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid #ccc;
	opacity: 0;
	pointer-events: none;
	margin-bottom: 25px;
}

.wrapper.active .qr-code {
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.5s 0.05s ease;
}
